ncd-delete-log-files.json
[{"id":"484c97078182fb3c","type":"inject","z":"53931474cb619420","name":"Delete Dashboard log - Gateway","props":[{"p":"payload"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":1090,"y":660,"wires":[["001e1b46ce407b5d"]]},{"id":"001e1b46ce407b5d","type":"exec","z":"53931474cb619420","command":"rm -r .node-red/log","addpay":"","append":"","useSpawn":"false","timer":"","winHide":false,"oldrc":false,"name":"Delete Log Files","x":1340,"y":660,"wires":[["e613397b683f32a6"],["e613397b683f32a6"],["e613397b683f32a6"]]},{"id":"e613397b683f32a6","type":"debug","z":"53931474cb619420","name":"debug 8","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":1560,"y":660,"wires":[]}]
